<% if logged_in? %>
<%= form_for(@task) do |f| %>

<% if task.errors.any? %>

    <div id="error_explanation">
      <ul>
        
<% task.errors.full_messages.each do |task| %>

          <li>
<%= task %>
</li>
        
<% end %>

      </ul>
    </div>
  
<% end %>

<%= f.label :content, 'タイトル' %>

<div class="form-group">
<%= f.text_field :content, class: 'form-control' %>
</div>

<div class="form-group">
<%= f.label :status, 'メッセージ' %>

<%= f.text_field :status, class: 'form-control' %>
</div>

<%= f.submit '投稿', class: 'btn btn-primary' %>

<% end %>
<% end %>

